@charset "UTF-8";
footer {
  display: flex;
  justify-content: flex-start;
  height: 230px;
  width: 100%;
  background-color: #353535;
  color: white;
  align-items: center;
  position: absolute;
  top: 1580px;
}

@media screen and (max-width: 1280px) {
  footer {
    top: 3450px;
    height: 430px;
  }
}

@media screen and (max-width: 768px) {
  footer {
    top: 2600px;
    height: 230px;
  }
}

.div_footer {
  width: 80%;
  height: 100%;
}

@media screen and (max-width: 1280px) {
  .div_footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.div_footer h3 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.7rem;
  padding-left: 2rem;
  margin-top: 0.9rem;
  margin-bottom: 0.8rem;
}

@media screen and (max-width: 1280px) {
  .div_footer h3 {
    font-size: 3rem;
    padding-top: 0.4rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .div_footer h3 {
    font-size: 1.5rem;
  }
}

.div_footer .div_icon_footer {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 2rem;
  width: 90%;
  padding-left: 3rem;
  margin: 0;
  color: white;
}

@media screen and (max-width: 1280px) {
  .div_footer .div_icon_footer {
    height: 4rem;
  }
}

@media screen and (max-width: 1280px) {
  .div_footer .div_icon_footer {
    padding-top: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .div_footer .div_icon_footer {
    height: 2rem;
    padding-top: 1rem;
  }
}

.div_footer .icon_footer {
  width: 2rem;
}

.div_footer h4 {
  font-size: 1.3rem;
  font-family: "roboto",sans-serif;
  margin-left: 0.1rem;
  color: white;
}

@media screen and (max-width: 1280px) {
  .div_footer h4 {
    font-size: 2.5rem;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .div_footer h4 {
    font-size: 1.1rem;
    margin-left: 0;
  }
}

.fa-utensils {
  font-size: 1rem;
}

@media screen and (max-width: 1280px) {
  .fa-utensils {
    width: 1rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .fa-utensils {
    font-size: 1rem;
  }
}

.fa-handshake {
  font-size: 1rem;
  transform: rotate(135deg);
}

@media screen and (max-width: 1280px) {
  .fa-handshake {
    width: 1rem;
    font-size: 1.6rem;
    margin-left: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .fa-handshake {
    font-size: 1rem;
    width: 1rem;
    margin: 0;
  }
}

a:link {
  text-decoration: none;
}

a:visited {
  color: white;
}

/*   HEADER  */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: auto;
}

@media screen and (max-width: 1280px) {
  header {
    height: 120px;
  }
}

@media screen and (max-width: 992px) {
  header {
    height: 120px;
  }
}

.fa-arrow-alt-circle-left {
  width: 2rem;
  font-size: 1.5rem;
  color: black;
}

.fa-arrow-alt-circle-lefta:visited {
  color: black;
}

.fa-arrow-alt-circle-lefta:link {
  text-decoration: none;
}

.logoplacement {
  display: flex;
  align-items: center;
  width: 9rem;
  height: 60px;
}

@media screen and (max-width: 1280px) {
  .logoplacement {
    width: 17rem;
  }
}

@media screen and (max-width: 992px) {
  .logoplacement {
    width: 17rem;
  }
}

.titreohmyfood {
  font-family: 'Shrikhand', cursive;
  font-size: 1.7rem;
}

@media screen and (max-width: 1280px) {
  .titreohmyfood {
    font-size: 3rem;
  }
}

@media screen and (max-width: 992px) {
  .titreohmyfood {
    font-size: 3rem;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

main {
  position: relative;
  height: 100%;
}

/*  GRANDE IMAGE  */
.imgpresentation {
  height: 650px;
  width: 100%;
}

.imgpalette {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

/*  MENU */
.cartemenu {
  width: 100%;
  height: 1000px;
  background-color: #eeeeee;
  border-radius: 100px 100px 0px 0px;
  margin-top: -120px;
  position: absolute;
}

@media screen and (max-width: 1280px) {
  .cartemenu {
    height: 2860px;
  }
}

@media screen and (max-width: 768px) {
  .cartemenu {
    height: 1950px;
  }
}

/* div entrée plats desserts */
.menu {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .menu {
    display: block;
  }
}

.entrees, .plats, .desserts {
  width: 100%;
  font-family: "roboto",sans-serif;
}

.nometcoeur {
  display: flex;
  width: 95%;
  height: 80px;
  margin: auto;
  margin-top: 70px;
  font-family: 'Shrikhand', cursive;
  font-size: 3.7rem;
}

@media screen and (max-width: 768px) {
  .nometcoeur {
    height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .nom {
    font-size: 2rem;
  }
}

.les2coeurs {
  display: flex;
  height: 80px;
  width: 80px;
  margin-right: 6rem;
  margin-left: auto;
}

.les2coeurs:hover > .coeurvide {
  color: transparent;
  transition-delay: 500ms;
}

.les2coeurs:hover > .coeur {
  animation-name: coeurapparition;
  animation: coeurapparition 500ms ease-in-out;
  transform-origin: center;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

@media screen and (max-width: 768px) {
  .les2coeurs {
    height: 40px;
    margin-right: 2rem;
  }
}

@keyframes coeurapparition {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  20% {
    opacity: 0.5;
    transform: scale(0.6);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.coeurvide {
  position: relative;
  font-size: 3.6rem;
  width: 65px;
  margin-left: 1.9px;
  margin-top: 3.5px;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .coeurvide {
    margin-left: 1px;
    font-size: 1.6rem;
    margin-top: 4.5px;
  }
}

.coeur {
  position: absolute;
  font-size: 3.6rem;
  width: 65px;
  margin-left: 2px;
  margin-top: 5px;
  color: transparent;
}

@media screen and (max-width: 768px) {
  .coeur {
    height: 40px;
    margin-left: 0;
    font-size: 1.6rem;
  }
}

/* LES ENTRÉES */
.texttraitvert {
  margin-left: 1.8rem;
  margin-top: 4rem;
}

@media screen and (max-width: 768px) {
  .texttraitvert {
    margin-top: 3.5rem;
  }
}

.texttraitvert .textentrees {
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  .texttraitvert .textentrees {
    font-size: 1.5rem;
  }
}

.texttraitvert .traitvert {
  height: 0.5rem;
  width: 7rem;
  margin-top: 1rem;
  background-color: #99e2d0;
}

@media screen and (max-width: 768px) {
  .texttraitvert .traitvert {
    height: 0.3rem;
    width: 5rem;
  }
}

.detailplat {
  display: flex;
  overflow: hidden;
  width: 80%;
  height: 90px;
  margin-top: 2rem;
  background-color: white;
  border-radius: 30px;
  opacity: 0;
  animation: apparition 2s linear;
  animation-fill-mode: forwards;
}

.detailplat:hover > .prix {
  transform: translate(0%);
  margin-right: 0.5rem;
  transform-origin: right;
}

.detailplat:hover > .check {
  transform: scale(1);
  transform-origin: right;
  transform: scale(1) translate(0%);
}

.detailplat:hover > .check > .fa-check-circle {
  transform: rotate(1deg);
  transition: transform 500ms linear;
}

@media screen and (max-width: 1280px) {
  .detailplat {
    height: 160px;
  }
}

@media screen and (max-width: 768px) {
  .detailplat {
    height: 100px;
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
    margin-top: 5rem;
  }
  50% {
    margin-top: 3rem;
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    margin-top: 2rem;
  }
}

li:nth-child(1) {
  animation-delay: 0.2s;
}

li:nth-child(2) {
  animation-delay: 1s;
}

li:nth-child(3) {
  animation-delay: 2.1s;
}

li:nth-child(4) {
  animation-delay: 3.2s;
}

.descriptifplat {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1 320px;
}

.descriptifplat:hover + .prix {
  transform: translate(0%);
}

.descriptifplat:hover + .check {
  transform: scale(1);
  transform-origin: right;
  transform: scale(1) translate(0%);
}

h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "roboto",sans-serif;
  font-size: 0.9rem;
  padding-top: 0rem;
  margin-bottom: 0;
  padding-left: 1rem;
}

@media screen and (max-width: 1280px) {
  h5 {
    font-size: 2.5rem;
    padding-top: 1.9rem;
    padding-left: 1.5rem;
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  h5 {
    font-size: 0.8rem;
    padding-top: 2.2rem;
  }
}

h6 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "roboto",sans-serif;
  font-size: 0.8rem;
  font-weight: lighter;
  margin-top: 0;
  padding-left: 1rem;
}

@media screen and (max-width: 1280px) {
  h6 {
    font-size: 2rem;
    padding-left: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  h6 {
    font-size: 0.7rem;
  }
}

.prix {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 1.3rem;
  height: 90px;
  width: 40px;
  padding-bottom: 1.6rem;
  transform: translate(100%);
  transition: transform 500ms cubic-bezier(0.41, 0.78, 0.83, 0.67);
}

.prix:hover {
  transform: translate(0%);
}

@media screen and (max-width: 1280px) {
  .prix {
    font-size: 1.8rem;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 1280px) and (max-width: 768px) {
  .prix {
    font-size: 1rem;
    margin-top: 0rem;
    width: 20px;
  }
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 90px;
  font-size: 2rem;
  color: white;
  background-color: #99e2d0;
  border-radius: 0px 30px 30px 0px;
  position: relative;
  transform: translatex(-9999px);
  transform: scalex(0);
  transition: transform 500ms cubic-bezier(0.41, 0.78, 0.83, 0.67);
  transform-origin: right;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .check {
    height: 160px;
    width: 140px;
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .check {
    height: 100px;
    width: 100px;
    font-size: 2rem;
  }
}

.check .fa-check-circle {
  transform: rotate(360deg);
  transition: transform 500ms;
}

.bouttoncommander {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5rem;
}

@media screen and (max-width: 1280px) {
  .bouttoncommander {
    margin-top: 8rem;
  }
}

@media screen and (max-width: 768px) {
  .bouttoncommander {
    margin-top: 5rem;
  }
}

.bouttoncommander button {
  width: 340px;
  padding: 1.5rem;
  border-radius: 3rem;
  color: white;
  font-size: 1.4rem;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  border: transparent;
}

.bouttoncommander button:hover {
  background: linear-gradient(to bottom, #ff96e1, #9c68db);
  background-blend-mode: lighten;
  box-shadow: 0.1rem 0.2rem 0.2rem 0rem #464545;
}

@media screen and (max-width: 1280px) {
  .bouttoncommander button {
    width: 400px;
    padding: 2.5rem;
    border-radius: 3rem;
    color: white;
    font-size: 1.6rem;
    background: linear-gradient(to bottom, #ff79da, #9356dc);
    border: transparent;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .bouttoncommander button {
    width: 340px;
    padding: 1.5rem;
    border-radius: 3rem;
    color: white;
    font-size: 1.4rem;
    background: linear-gradient(to bottom, #ff79da, #9356dc);
    border: transparent;
    width: 320px;
  }
}
/*# sourceMappingURL=les4restaurants.css.map */