@charset "UTF-8";
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

/*   HEADER  */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: auto;
}

@media screen and (max-width: 1280px) {
  header {
    height: 120px;
  }
}

@media screen and (max-width: 992px) {
  header {
    height: 120px;
  }
}

.logoplacement {
  display: flex;
  align-items: center;
  width: 9rem;
  height: 60px;
}

@media screen and (max-width: 1280px) {
  .logoplacement {
    width: 17rem;
  }
}

@media screen and (max-width: 992px) {
  .logoplacement {
    width: 17rem;
  }
}

.titreohmyfood {
  font-family: 'Shrikhand', cursive;
  font-size: 1.7rem;
}

@media screen and (max-width: 1280px) {
  .titreohmyfood {
    font-size: 3rem;
  }
}

@media screen and (max-width: 992px) {
  .titreohmyfood {
    font-size: 3rem;
  }
}

main {
  position: relative;
  height: 100%;
}

/*  GRANDE IMAGE  */
.imgpresentation {
  height: 650px;
  width: 100%;
}

.imgpalette {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

/*  MENU */
.cartemenu {
  width: 100%;
  height: 2760px;
  background-color: #eeeeee;
  border-radius: 100px 100px 0px 0px;
  margin-top: -120px;
  position: absolute;
}

.nometcoeur {
  display: flex;
  width: 95%;
  height: 80px;
  margin: auto;
  margin-top: 70px;
  font-family: 'Shrikhand', cursive;
  font-size: 3.7rem;
}

@media screen and (max-width: 768px) {
  .nometcoeur {
    height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .nom {
    font-size: 2rem;
  }
}

.les2coeurs {
  display: flex;
  height: 80px;
  width: 60px;
  margin-right: 6rem;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .les2coeurs {
    height: 40px;
    margin-right: 1rem;
  }
}

.coeurvide {
  position: relative;
  font-size: 3.6rem;
  margin-left: 1.9px;
  margin-top: 3.5px;
  cursor: pointer;
}

.coeurvide:hover {
  color: transparent;
}

@media screen and (max-width: 768px) {
  .coeurvide {
    margin-left: 0;
    font-size: 1.8rem;
    margin-top: 2px;
  }
}

.coeur {
  position: absolute;
  font-size: 3.9rem;
  color: transparent;
}

.coeur:hover {
  color: #df00a1;
  transition: all 0.4s;
}

@media screen and (max-width: 768px) {
  .coeur {
    height: 40px;
    margin-left: 0;
    font-size: 1.8rem;
    margin-top: 2px;
  }
}

/* LES ENTRÉES */
.texttraitvert {
  margin-left: 1.8rem;
  margin-top: 4rem;
}

.texttraitvert .textentrées {
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  .texttraitvert .textentrées {
    font-size: 1.5rem;
  }
}

.texttraitvert .traitvert {
  height: 0.5rem;
  width: 7rem;
  margin-top: 1rem;
  background-color: #99e2d0;
}

@media screen and (max-width: 768px) {
  .texttraitvert .traitvert {
    height: 0.3rem;
    width: 5rem;
  }
}

.detailplat {
  width: 90%;
  height: 160px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 30px;
}

.detailplat h5 {
  font-size: 3rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .detailplat h5 {
    font-size: 1.8rem;
    padding-top: 3rem;
  }
}

.detailplat h6 {
  font-size: 2.5rem;
  font-weight: lighter;
  padding-left: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .detailplat h6 {
    font-size: 1.2rem;
  }
}

.bouttoncommander {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 8rem;
}

.bouttoncommander button {
  width: 400px;
  padding: 2.5rem;
  border-radius: 3rem;
  color: white;
  font-size: 1.6rem;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  border: transparent;
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  .bouttoncommander button {
    width: 340px;
    padding: 1.5rem;
    border-radius: 3rem;
    color: white;
    font-size: 1.4rem;
    background: linear-gradient(to bottom, #ff79da, #9356dc);
    border: transparent;
    margin-top: 2rem;
  }
}

/* FOOTER */
footer {
  display: flex;
  justify-content: flex-start;
  height: 430px;
  width: 100%;
  background-color: #353535;
  color: white;
  align-items: center;
  position: absolute;
  top: 3350px;
}

@media screen and (max-width: 768px) {
  footer {
    top: 3250px;
  }
}

.div_footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  height: 100%;
}

.div_footer h3 {
  font-size: 3rem;
  font-family: 'Shrikhand', cursive;
  padding-top: 0.4rem;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .div_footer h3 {
    font-size: 1.5rem;
  }
}

.div_footer .div_icon_footer {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 4rem;
  width: 90%;
  padding-left: 3rem;
  padding-top: 2.5rem;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .div_footer .div_icon_footer {
    height: 2rem;
    padding-top: 1rem;
  }
}

.div_footer .icon_footer {
  width: 2rem;
}

.div_footer h4 {
  font-size: 2.5rem;
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  .div_footer h4 {
    font-size: 1.3rem;
    margin-left: 0;
  }
}

.fa-utensils {
  width: 1rem;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .fa-utensils {
    font-size: 1rem;
    width: 1rem;
  }
}

.fa-handshake {
  width: 1rem;
  font-size: 1.6rem;
  transform: rotate(135deg);
  margin-left: 0.7rem;
  margin-bottom: 0.8rem;
}

@media screen and (max-width: 768px) {
  .fa-handshake {
    font-size: 1rem;
    width: 1rem;
    margin: 0;
  }
}
/*# sourceMappingURL=palettedugout.css.map */