@import "./directory/utils/_variables.scss";
@import "./directory/utils/_mixins.scss";
@import "./directory/layouts/_footer.scss";
@import "./directory/layouts/_header.scss";
@import "./directory/base/_fondation.scss";

main{
    position: relative;
    height: 100%;
}
/*  GRANDE IMAGE  */
.imgpresentation{
    height: 650px;
    width: 100%;
}
.imgpalette{
    width: 100%;
    height: 650px;
    object-fit: cover;   
}
/*  MENU */
.cartemenu{
    width: 100%;
    height:1000px;
    background-color: $colour_backround;
    border-radius: 100px 100px 0px 0px;
    margin-top: -120px;
    position: absolute;
    @include desktop{
        height: 2860px;
    }
    @include mobile{
        height: 1950px;
    }
}
/* div entrée plats desserts */
.menu{
    display: flex;
    width: 100%;
    @include desktop{
        display: block;
    }
}
.entrees,.plats,.desserts{
    width: 100%;
    font-family: "roboto",sans-serif;
}
.nometcoeur{
    display: flex;
    width: 95%;
    height: 80px;
    margin:auto;
    margin-top: 70px;
    font-family: 'Shrikhand', cursive;
    font-size: 3.7rem;
    @include mobile{
        height: 40px;
    }
}
.nom{
    @include mobile{
        font-size: 2rem;
    }
}
.les2coeurs{
    display: flex;
    height: 80px;
    width: 80px;
    margin-right: 6rem;
    margin-left: auto;
    &:hover > .coeurvide{
        color: transparent;
        transition-delay: 500ms;
    }
    &:hover > .coeur{
        animation-name: coeurapparition;
        animation:coeurapparition 500ms ease-in-out;
        transform-origin: center;
        background:linear-gradient(to bottom,$colour_secondaire,$colour_primaire);
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color:transparent;
        -webkit-background-clip: text;
        -moz-background-clip: text;
    }
    @include mobile{
        height: 40px;
        margin-right: 2rem;
        
    }
}
@keyframes coeurapparition {
    0%{
        opacity:0;
        transform: scale(0.5);
    }
    20%{
        opacity: 0.5;
        transform: scale(0.6);
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.coeurvide{
    position: relative;
    font-size: 3.6rem;
    width: 65px;
    margin-left: 1.9px;
    margin-top: 3.5px;
    color: black;
    cursor: pointer;
    @include mobile{
        margin-left: 1px;
        font-size: 1.6rem;
        margin-top: 4.5px;
    }      
}
.coeur{
    position: absolute;
    font-size: 3.6rem;
    width: 65px;
    margin-left: 2px;
    margin-top: 5px;
    color: transparent;
    @include mobile{
        height: 40px;
        margin-left: 0;
        font-size: 1.6rem;
    }      
}
/* LES ENTRÉES */
.texttraitvert{
    margin-left: 1.8rem;
    margin-top: 4rem;
    @include mobile{
        margin-top: 3.5rem;
    }
    .textentrees{
        font-size: 2.5rem;
        @include mobile{
            font-size: 1.5rem;
        }
    }
    .traitvert{
        height: 0.5rem;
        width: 7rem;
        margin-top: 1rem;
        background-color: $colour_tertiaire;
        @include mobile{
            height: 0.3rem;
            width: 5rem;
        }
    }
}
.detailplat{
    display: flex;  
    overflow: hidden;
    width: 95%;
    height: 90px;
    margin-top: 2rem;  
    background-color: white;
    border-radius: 30px;
    opacity: 0;
    animation:apparition 2s linear;
    animation-fill-mode: forwards;
    &:hover > .prix{
        transform: translate(0%);
        margin-right: 0.5rem;
        transform-origin: right;
    }
    &:hover > .check {
        transform: scale(1);
        transform-origin: right;
        transform:scale(1) translate(0%) ; 
        & > .fa-check-circle{
            transform: rotate(1deg);
            transition: transform 500ms linear;
        }   
    }
    @include desktop{
        height: 160px;
    }
    @include mobile{
        height: 100px;
    }  
}
@keyframes apparition {
    0%{
        opacity: 0;
        margin-top: 5rem;
    }
    50%{
        margin-top: 3rem;
        opacity: 0.6;
    }
    100%{
        opacity: 1;
        margin-top: 2rem;
    }
}
li:nth-child(1){
    animation-delay: 0.2s;
}
li:nth-child(2){
    animation-delay: 1s;
}
li:nth-child(3){
    animation-delay: 2.1s;
}
li:nth-child(4){
    animation-delay: 3.2s;
}
.descriptifplat{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1 320px; 
    &:hover + .prix{
        transform: translate(0%);
    }
    &:hover + .check {
        transform: scale(1);
        transform-origin: right;
        transform:scale(1) translate(0%) ;    
    }
}
h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "roboto",sans-serif;
    font-size: 0.9rem;
    padding-top: 0rem;
    margin-bottom: 0;
    padding-left: 1rem;
    @include desktop{
    font-size: 2.5rem;
    padding-top: 1.9rem;
    padding-left: 1.5rem;
    margin-top: 0;
    }
    @include mobile{
        font-size: 0.8rem;
        padding-top: 2.2rem;
    }
}
h6{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "roboto",sans-serif;
    font-size: 0.8rem;
    font-weight: lighter;
    margin-top: 0;
    padding-left: 1rem;
    @include desktop{
    font-size: 2rem;
    padding-left: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    }
    @include mobile{
        font-size: 0.7rem;
    }
}
.prix{
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    font-size: 1.3rem;
    height: 90px;
    width: 40px;
    padding-bottom: 1.6rem;
    transform: translate(100%);
    transition: transform 500ms cubic-bezier(.41,.78,.83,.67); 
    &:hover{
        transform: translate(0%);
    }
    @include desktop{
        font-size: 1.8rem;
        margin-top: 3rem;
        @include mobile{
            font-size: 1rem;
            margin-top: 0rem;
            width: 20px;
        }
    }
}
.check{
    @include centrageflex_hautbas;
    height: 90px;
    width: 90px;
    font-size: 2rem;
    
    color: white;
    background-color: $colour_tertiaire;
    border-radius: 0px 30px 30px 0px;
    position: relative;   
    transform: translatex(-9999px);
    transform: scalex(0);
    transition: transform 500ms cubic-bezier(.41,.78,.83,.67);
    transform-origin: right;
    cursor: pointer;
    @include desktop{
        height: 160px;
        width: 140px;
        font-size: 3rem;
    }
    @include mobile{
        height: 100px;
        width: 100px;
        font-size: 2rem;
    }
    .fa-check-circle{
        transform: rotate(360deg);
        transition: transform 500ms;
    }
}
.bouttoncommander{  
    @include centrageflex_hautbas;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
    @include desktop{
        margin-top: 8rem;
    } 
    @include mobile{
        margin-top: 5rem;
    }  
    button{
        @include buttondegraded;
        &:hover{
            background: linear-gradient(to bottom,#ff96e1,#9c68db );
            background-blend-mode: lighten;
            box-shadow: 0.1rem 0.2rem 0.2rem 0rem rgb(70, 69, 69);
        } 
        @include desktop{
          @include buttontablet;
          font-size: 2.5rem;
        }
        @include mobile{
            @include buttondegraded;
            width: 320px;
            
        }    
    }
}
