@import "./directory/utils/variables.scss";
@import "./directory/utils/mixins.scss";
html{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
body{
    width: 100%;
    margin: 0;
}
h1 ,p{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 1.4rem;
    margin: 0;
}
main{
    height: 100%;
}
header{
    @include centrageflex_hautbas;
    height: 60px;
}
.logoplacement{
    display: flex;
    align-items: center;
    width: 9rem;
    height: 60px;
}
.titreohmyfood{
    font-family: 'Shrikhand', cursive;
    font-size: 1.6rem;
}
/* section localisation */
.localisationrestaurants{
    display: flex;
    justify-content: center;
    height: 60px;
    width: auto;
    background:linear-gradient(to top,#eaeaea 95%,rgb(172, 172, 172));
}
.localisation{
    display: flex;
    width: 280px;
    height: 100%;
    p{
        @include centrageflex_hautbas;
        font-size: 1.1rem;
    }
}
.local {
   @include centrageflex_hautbas; 
    height: 100%;
    width: 5rem;
}
.fa-map-marker-alt{
    font-size: 1.2rem;
}
/* SECTION RESERVER */
.reserver{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 300px;
    background-color: $colour_backround;
}
.textreservez{
    @include centeringtext;
    
}
.textdecouvrez{
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    
}
button{
    @include buttondegraded;
    margin-top: 1.2rem;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;   
}
/* SECTION FONCTIONNEMENT */
.fonctionnement{
    height: 400px;
    width: 100%;
}
.textfonctionnement{
    margin-top: 3rem;
    margin-left: 1rem;
}
.divles3etapes{
    width: 340px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.etapefonctionnement{
    display: flex;
    align-items: center;
    width: 330px;
    height: 4.7rem;
    margin-top: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1.7rem;
    background-color: $colour_backround;
    box-shadow: 0px 2px 2px 2px #e7e7e7;
}
.numero{
    @include centrageflex_hautbas;
    height: 25px;
    width: 25px;
    position: relative;
    left: -4%;
    background-color: $colour_primaire;
    border-radius: 50%;
    color: white;
}
.iconfonctionnement{
    width: 25px;
    margin-left: 1rem;
    color: gray;
}
.textetape{
    margin-left: 0.8rem;
    font-weight: bold;
}
/* SECTION RESTAURANTS */
.restaurants{
    height: 1250px;
    background-color: $colour_backround;
    display: flex;
    justify-content: center;
}
.textrestaurants{
    padding-top: 4.5rem;
}
.div4restaurants{
    width: 320px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.divpalettedugout{
    @include bigbox;
    margin-top: 1.6rem;
}
.divphoto{
    @include divphotoimg;
    .imgresto{
        @include divphotoimg;
        object-fit: cover;
    }
}
.nomrestaurant{
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "nom coeur"
    "ville coeur";
    height: 70px;
    width: 320px;
}
.nom{
    grid-area: nom;
    font-weight: bold;
    &__element{
    @include start-left;
    align-items: center;
    font-family: 'roboto',sans-serif;
    }
    &__margin-size{
        margin-left: 1rem;
        font-size: 1.2rem;
    } 
}
.ville{
    grid-area: ville;
    font-family: 'roboto',sans-serif;
}
.coeur{
    grid-area: coeur;
    .fa-heart{
        font-size: 1.8rem;
        margin-top: 1rem;
        padding-left: 3rem;
        
    }
}

.divnoteenchantee{
    @include bigbox;
    margin-top: 1.4rem;
}
.divlafrancaise{
    @include bigbox;
    margin-top: 1.4rem;
}
.divdelicedessens{
    @include bigbox;
    margin-top: 1.4rem;
}
.nouveau{   
    position: absolute;
    margin-top:1.5rem;
    margin-left: 15rem;
    padding: 0.2rem;
    background-color: $colour_tertiaire;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color:#039671;
}
/* FOOTER */
footer{
    @include start-left;
    height:220px;
    width: 100%;
    background-color: $colour_footer;
    color: white;
    align-items: center;
}
.div_footer{
    @include column-start;
    width: 90%;
    height: 100%;
    h3{
        font-size: 1.5rem;
        font-family: 'Shrikhand', cursive;
        padding-top: 0.4rem;
        padding-left: 2rem;
        margin-bottom: 1rem;
    }
    .div_icon_footer{
        display: flex;
        justify-content: start;
        align-items: center;
        height: 2rem;
        width: 90%;
        padding-left: 3rem;
        margin: 0;
    }
    .icon_footer{
        width: 2rem;
    }
    p{
        font-size: 1rem;
        margin-left: 1rem;
    }
    i{
        width: 2rem;
        font-size: 1rem;
    }
}
.fa-handshake{
    position: absolute;
    left: 2.1rem;
    transform: rotate(135deg);
}

