@import "./directory/utils/variables.scss";
@import "./directory/utils/mixins.scss";
html{
    display: block;
}
body{
    width: 100%;
    margin: 0;
}
h1 ,p{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 3.7rem;
    margin: 0;
}
main{
    height: 100%;
}
header{
    height: 130px;
}
.logoplacement{
    @include ohmyfood;
}
/* section localisation */
.localisationrestaurants{
    display: flex;
    justify-content: center;
    height: 120px;
    background:linear-gradient(to top,#eaeaea 95%,rgb(172, 172, 172));
}
.localisation{
    display: flex;
    width: 280px;
    height: 100%;
    p{
        @include centrageflex_hautbas;
        font-size: 2rem;
    }
}
.local {
   @include centrageflex_hautbas; 
    height: 100%;
    width: 5rem;
}
.fa-map-marker-alt{
    font-size: 1.8rem;
}
/* SECTION RESERVER */
.reserver{
    height: 750px;
    background-color: $colour_backround;
}
.textreservez{
    @include centeringtext;
}
.textdecouvrez{
    text-align: center;
    font-size: 2.8rem;
    padding-left: 10%;
    padding-right: 10%;
}
button{
    @include buttondegraded;
    margin-left: 18%;
    margin-right:18%;
    margin-top: 3rem;
    padding: 3rem;   
}
/* SECTION FONCTIONNEMENT */
.fonctionnement{
    height: 750px;
}
.textfonctionnement{
    margin-top: 4rem;
    margin-left: 3rem;
}
/* SECTION RESTAURANTS */
.restaurants{
    height: 3300px;
    background-color: $colour_backround;
}
.textrestaurants{
    padding-top: 9.5rem;
    padding-left: 4rem;
}
.div4restaurants{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.divpalettedugout{
    @include bigbox;
    margin-top: 5rem;
}
.divnoteenchantee{
    @include bigbox;
    margin-top: 3rem;
}
.divlafrancaise{
    @include bigbox;
    margin-top: 3rem;
}
.divdelicedessens{
    @include bigbox;
    margin-top: 3rem;
}
/* FOOTER */
footer{
    @include start-left;
    height:500px;
    width: 100%;
    background-color: $colour_footer;
    color: white;
    align-items: center;
}
.div_footer{
    @include column-start;
    width: 90%;
    height: 100%;
    h3{
        font-size: 2.9rem;
        font-family: 'Shrikhand', cursive;
        padding-top: 1rem;
        padding-left: 3rem;
        margin-bottom: 1rem;
    }
    .div_icon_footer{
        display: flex;
        justify-content: start;
        align-items: center;
        height: 4rem;
        width: 90%;
        padding-left: 3rem;
        margin: 0;
    }
    p{
        font-size: 2.3rem;
        margin-left: 1rem;
    }
    i{
        width: 2rem;
        font-size: 1.8rem;
    }
}
.fa-handshake{
    transform: rotate(135deg);
}

