@import "./directory/utils/_variables.scss";
@import "./directory/utils/_mixins.scss";
* {
    box-sizing: border-box;
}    
body{
    margin:0;
}
h1 ,p{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 2rem;
    margin: 0;
    @include desktop{
        font-size: 3.5rem;
    }
    @include tablet{
        font-size: 3.5rem; 
    }
    @include mobile{
        font-size: 2rem;
    }
}
/* loader spinner*/
.chargement{
    background: linear-gradient(to bottom,#ff96e1,#9c68db );
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    animation-name: chargement;
    animation-duration: 3s;
    animation-fill-mode: forwards;  
}
@keyframes chargement{
    99.999%
    {
        position: fixed;
    }
    100%
    {
        position:relative;
    }
}
.imgloader{
    width: 180px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: spin 1s linear 3;
    animation-fill-mode: forwards;
}
@keyframes spin{
   
   99.999%
  {
    transform:translate(-50%,-50%)rotate(360deg);
    opacity: 1;
  }
  100%{
      opacity: 0;
  }
}
/* HEADER */
header{
    @include centrageflex_hautbas;
    height: 60px;
    width: auto;
    @include desktop{
        height: 120px;
    }
    @include tablet{
        height: 120px;
    }
}
.logoplacement{
    display: flex;
    align-items: center;
    width: 9rem;
    height: 60px;
    @include desktop{
        width: 17rem;
    }
    @include tablet{
        width: 17rem;
    }
}
.titreohmyfood{
    font-family: 'Shrikhand', cursive;
    font-size: 1.7rem;
    @include desktop{
        font-size: 3rem;
    }
    @include tablet{
        font-size: 3rem;
    }
}
/* section localisation */
.localisationrestaurants{
    display: flex;
    justify-content: center;
    height: 60px;
    background:linear-gradient(to top,#eaeaea 95%,rgb(172, 172, 172));
    @include desktop{
        height: 120px;
    }
    @include tablet{
        height: 120px;
    }
}
.localisation{
    display: flex;
    max-width: 270px;
    height: 100%;
    p{
        @include centrageflex_hautbas;
        font-size: 1.1rem;
        @include desktop{
            font-size: 2rem;
        }
        @include tablet{
            font-size: 2rem;
        }
    }
}
.local {
   @include centrageflex_hautbas; 
    height: 100%;
    width: 3rem;
    @include desktop{
        width: 5rem;
    }
    @include tablet{
        width: 5rem;
    }
}
.fa-map-marker-alt{
    font-size: 1.2rem;
    @include desktop{
        font-size: 2.5rem;
    }
    @include tablet{
        font-size: 2.5rem;
    }
}
/* SECTION RESERVER */
.reserver{
    display: flex;
    justify-content: center;
    height: 300px;
    background-color: $colour_backround;
    text-align: center;
    @include desktop{
        height: 500px;
    }
    @include tablet{
        height: 500px;
    }
}
.divreserver{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    width: 90%;
    
    @include desktop{
        height: 80%;
    }
    @include tablet{
        height: 80%;
    }
}
.textreservez{
    @include centeringtext;
}
.textdecouvrez{
    font-size: 1rem;
    @include desktop{
        font-size: 2rem;
    } 
    @include tablet{
        font-size: 2rem;
    } 
    @include mobile{
        font-size: 1.5rem;
    }  
}
button{
    @include buttondegraded;
    margin-top: 1.2rem;
    cursor: pointer;
    &:hover{
        background: linear-gradient(to bottom,#ff96e1,#9c68db );
        background-blend-mode: lighten;
        box-shadow: 0.1rem 0.2rem 0.2rem 0rem rgb(70, 69, 69);
    } 
    @include desktop{
        @include buttontablet;
    }
    @include tablet{
        @include buttontablet;
    }
    @include mobile{
        @include buttondegraded;
    }  
}
/* SECTION FONCTIONNEMENT */
.fonctionnement{
    display: flex;
    justify-content: center;
    height: 150px;
    width: auto;
    @include desktop {
        display: flex;
        justify-content: center;
        height: 630px;
    }
    @include tablet{
        display: flex;
        justify-content: center;
        height: 630px;
    }
    @include mobile{
        display: flex;
        justify-content: center;
        height: 510px;
    }
}
.textfonctionnement{
    font-size: 1.7rem;
    margin-top: 3rem;
    margin-left: 1rem;
    @include desktop{
       margin-top: 1rem;
    }
    @include tablet{
        margin-top: 1rem;
    }

}
.divles3etapes{
    display: flex; 
    justify-content: center;
    width: 98%;
    @include desktop{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;
    }
    @include tablet{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100%;
    }
    @include mobile{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
    }
  
}
.etapefonctionnement{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    margin-left: 2rem;
    border-radius: 1.7rem;
    background-color: $colour_backround;
    box-shadow: 0px 2px 2px 2px #e7e7e7;
    cursor: pointer;
    height: 80px;
    width: 100%;
    @include desktop {
        width: 100%;
        height: 130px;
    }
    @include tablet{
        width: 100%;
        height: 130px;
    }
    @include mobile{
        width: 80%;
        height: 100px;
    }
    &:hover{
        background-color: #f4ecff;
        background-blend-mode: lighten;
        .fas{
            color: $colour_primaire;
        }
 
    }    
}
.fa-mobile-alt, .fa-list-ul,.fa-store{
    font-size: 1.4rem;
    @include desktop{
        font-size: 2.2rem;
    }
    @include tablet{
        font-size: 2.2rem;
    }
}
.numero{
    @include centrageflex_hautbas;
    height: 40px;
    width: 40px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -4%;
    background-color: $colour_primaire;
    border-radius: 50%;
    color: white;
    @include desktop{
        height: 45px;
        width: 45px;
        font-size: 1.8rem;
    }
    @include tablet{
        height: 45px;
        width: 45px;
        font-size: 1.8rem;
    }
}
.iconfonctionnement{
    width: 25px;
    margin-left: 1rem;
    color: gray;
}
.textetape{
    margin-left: 0.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    @include desktop{
        margin-left: 3rem;
        font-size: 2rem;
    }
    @include tablet{
        margin-left: 3rem;
        font-size: 2rem;
    }
    @include mobile{
        font-size: 1.2rem;
    }
}
/* SECTION RESTAURANTS */
.restaurants{
    display: flex;
    justify-content: center;
    height: 1000px;
    width: auto;
    background-color: $colour_backround;
    @include desktop{
        height: 2400px;
    }
    @include tablet{
        height: 2350px;
    }
    @include mobile{
        height: 1300px;
    }
 
}
.textrestaurants{
    padding-top: 2.5rem;
    grid-area: restaurants;
    @include desktop{
        padding-top: 2.5rem;
    }
}
.div4restaurants{
    height: 95%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "restaurants restaurants"
    "palettedugout noteenchantee"
    "lafrancaise delicedessens";
    @include desktop {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 700px;
    }
    @include tablet{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 700px;
    }
    @include mobile{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 320px;
    }

}
a:link{
    text-decoration: none;
}
a:visited{
    color: black;
}
.divpalettedugout{
    @include bigbox;
    grid-area: palettedugout;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    @include desktop{
        width: 700px;
        height: 510px;
        margin-top: 2rem;
    }
    @include tablet{
        width: 700px;
        height: 510px;
        margin-top: 2rem;
    }
    @include mobile{
        width: 320px;
        height: 250px;
    }
}
.divphoto{
    @include divphotoimg;
    @include desktop{
        width: 700px;
        height: 360px;
    }
    @include tablet{
        width: 700px;
        height: 360px;
    }
    @include mobile{
        width: 320px;
        height: 180px;
    }
    .imgresto{
        @include divphotoimg;
        object-fit: cover;
        @include desktop{
            width: 700px;
            height: 360px;
        }
        @include tablet{
            width: 700px;
            height: 360px;
        }
        @include mobile{
            width: 320px;
            height: 180px;
        }
    }
   
}
.nomrestaurant{
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "nom coeur"
    "ville coeur";
    height: 110px;
    width: 550px;
    @include desktop{
        width: 700px;
        height: 150px;
    }
    @include tablet{
        width: 700px;
        height: 150px;
    }
    @include mobile{
        width: 320px;
        height: 70px;
    }
}
.nom{
    grid-area: nom;
    font-weight: bold;
    &__element{
    @include start-left;
    align-items: center;
    font-family: 'roboto',sans-serif;
    color: black;
    }
    &__margin-size{
        margin-left: 1rem;
        font-size: 1.8rem;
        @include desktop{
            font-size: 2.3rem;
        }
        @include tablet{
            font-size: 2.3rem;
        }
        @include mobile{
            font-size: 1.2rem;
        }
    } 
}
.ville{
    grid-area: ville;
    font-family: 'roboto',sans-serif;
    color: black;
}
.coeur,.coeurvide{
    grid-area: coeur;
    
}
.coeurvide{
    font-size: 2.7rem;
    color: black;
    margin-top: 1.5rem;
    padding-left: 3rem;
    margin-left: 2rem;
    cursor: pointer;
    &a:visited{
        color: black;
    }
    &a:link{
        text-decoration: black;
    }
    &:hover {
        color: transparent;
    }
    @include desktop{
        margin-left: 3rem;
        font-size: 3.5rem;
        margin-top: 3rem; 
    }
    @include tablet{
    margin-left: 3rem;
    font-size: 3.5rem;
    margin-top: 3rem;
    }
    @include mobile{
        margin-left: 0.1rem;
        font-size: 1.8rem;
        margin-top: 1rem;
    }      
}
.coeur{
    font-size: 3rem;
    margin-top: 1.3rem;
    padding-left: 2.9rem;
    margin-left: 1.95rem;
    color: transparent;
    &:hover{
        background:linear-gradient(to bottom,$colour_secondaire,$colour_primaire);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        transition: all 0.4s;
    }
    @include desktop{
        margin-left: 2.9rem;
        font-size: 3.7rem;
        margin-top: 2.85rem; 
    }
    @include tablet{
    margin-left: 2.9rem;
    font-size: 3.7rem;
    margin-top: 2.85rem;
    }
    @include mobile{
        margin-left: 0;
        font-size: 2rem;
        margin-top: 0.9rem;
    }      
}
.divnoteenchantee{
    @include bigbox;
    grid-area: noteenchantee; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    cursor: pointer;
    @include desktop{
        width: 700px;
        margin-left: 0;
        margin-top: 2rem;
        height: 510px;
    }
    @include tablet{
        width: 700px;
        margin-left: 0;
        margin-top: 2rem;
        height: 510px;
    }
    @include mobile{
        width: 320px;
    }
}
.divlafrancaise{
    @include bigbox;
    grid-area: lafrancaise;
    margin-top: 1.4rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    @include desktop{
        width: 700px;
        height: 510px;
        margin-top: 2rem;
    }
    @include tablet{
        width: 700px;
        height: 510px;
        margin-top: 2rem;
    }
    @include mobile{
        width: 320px;
    }
}
.divdelicedessens{
    @include bigbox;
    grid-area: delicedessens;
    margin-top: 1.4rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    cursor: pointer;
    @include desktop{
        margin-left: 0;
        width: 700px;
        height: 510px;
        margin-top: 2rem;
    }
    @include tablet{
        width: 700px;
        height: 510px;
        margin-left: 0;
        margin-top: 2rem;
    }
    @include mobile{
        width: 320px;
        margin-left: 0;
    }
}
.nouveau{   
    position: absolute;
    margin-top:1.5rem;
    padding: 0.4rem;
    margin-left: 28rem;
    background-color: $colour_tertiaire;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color:#039671;
    @include desktop{
        padding: 0.4rem;
        margin-left: 20rem;
        margin-left: 38rem;
        padding: 0.4rem;
    }
    @include tablet{
        margin-left: 38rem;
        padding: 0.4rem;
    }
    @include mobile{
        margin-left: 15rem;
        padding: 0.2rem;
    }
}
/* FOOTER */
footer{
    @include start-left;
    height:240px;
    width: auto;
    background-color: $colour_footer;
    color: white;
    align-items: center;
    @include desktop{
        height: 350px;
    }
    @include tablet{
        height: 350px;
    }
    @include mobile{
        height: 220px;
    }
}
.div_footer{
    @include column-start;
    width: 50%;
    height: 100%;
    @include desktop{
        width: 70%;
    }
    @include tablet{
        width: 70%;
    }
    @include mobile{
        width: 90%;
    }
    h3{
        font-size: 1.7rem;
        font-family: 'Shrikhand', cursive;
        padding-top: 0.4rem;
        padding-left: 2rem;
        margin-bottom: 1rem;
        @include desktop{
            font-size: 3rem;
        }
        @include tablet{
            font-size: 3rem;
        }
        @include mobile{
            font-size: 1.5rem;
        }
    }
    .div_icon_footer{
        display: flex;
        justify-content: start;
        align-items: center;
        height: 2rem;
        width: 90%;
        color: white;
        padding-left: 3rem;
        margin: 0;
        @include desktop{
            height: 3rem;
        }
        @include tablet{
            height: 3rem;
        }
        @include mobile{
            height: 2rem;
        }
    }
    .icon_footer{
        width: 2rem;
    }
    p{
        font-size: 1.2rem;
        margin-left: 1rem;
        &a:link{
            text-decoration: none;
        }
        &a:visited{
            color:white;
        }
        @include desktop{
            font-size: 2rem;
        }
        @include tablet{
            font-size: 2rem;
        }
        @include mobile{
            font-size: 1.3rem;
            margin-left: 0;
        }
    }
   
    }
.fa-utensils{
    width: 1rem;
    font-size: 1.2rem;
    @include desktop{
        font-size: 2rem;
    }
    @include tablet{
        font-size: 2rem;
    }
    @include mobile{
        font-size: 1rem;
        width: 1rem;
    }
}    
.fa-handshake{
    width: 1rem;
    font-size: 1.2rem;
    transform: rotate(135deg);
    @include desktop{
        font-size: 1.6rem;
        margin-left: 0.7rem;
        margin-bottom: 0.8rem;
    }
    @include tablet{
        font-size: 1.4rem;
        margin-left: 0.6rem;
        margin-bottom: 0rem;
    }
    @include mobile{
        font-size: 1rem;
        width: 1rem;
        margin: 0;

    }
}
