/* MODELES DE BOUTTON */
/* DIFFERENTES TAILLE DE BOITES */
html {
  display: block;
}

body {
  width: 100%;
  margin: 0;
}

h1, p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.4rem;
  margin: 0;
}

main {
  height: 100%;
}

header {
  height: 60px;
}

.logoplacement {
  width: 50%;
  height: 70%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1rem;
}

/* section localisation */
.localisationrestaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(95%, #eaeaea), to(#acacac));
  background: linear-gradient(to top, #eaeaea 95%, #acacac);
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  height: 100%;
}

.localisation p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
}

.local {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 5rem;
}

.fa-map-marker-alt {
  font-size: 1.2rem;
}

/* SECTION RESERVER */
.reserver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 300px;
  background-color: #f6f6f6;
}

.textreservez {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 3rem;
}

.textdecouvrez {
  text-align: center;
  font-size: 1rem;
}

button {
  width: 220px;
  border-radius: 3rem;
  color: white;
  font-size: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  border: transparent;
  margin-top: 1.2rem;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* SECTION FONCTIONNEMENT */
.fonctionnement {
  height: 400px;
  width: 100%;
}

.textfonctionnement {
  margin-top: 3rem;
  margin-left: 2rem;
}

.divles3etapes {
  width: 100%;
  height: 100%;
}

.etapefonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 4.7rem;
  margin-top: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1.7rem;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0px 2px 2px 2px #e7e7e7;
          box-shadow: 0px 2px 2px 2px #e7e7e7;
}

.numero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  width: 25px;
  position: absolute;
  left: 8%;
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
}

.iconfonctionnement {
  width: 25px;
  margin-left: 2rem;
  color: gray;
}

.textetape {
  margin-left: 0.8rem;
  font-weight: bold;
}

/* SECTION RESTAURANTS */
.restaurants {
  height: 1250px;
  background-color: #f6f6f6;
}

.textrestaurants {
  padding-top: 4.5rem;
  padding-left: 2rem;
}

.div4restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.divpalettedugout {
  height: 250px;
  width: 320px;
  background-color: white;
  border-radius: 2rem;
  margin-top: 1.6rem;
}

.divnoteenchantee {
  height: 250px;
  width: 320px;
  background-color: white;
  border-radius: 2rem;
  margin-top: 1.4rem;
}

.divlafrancaise {
  height: 250px;
  width: 320px;
  background-color: white;
  border-radius: 2rem;
  margin-top: 1.4rem;
}

.divdelicedessens {
  height: 250px;
  width: 320px;
  background-color: white;
  border-radius: 2rem;
  margin-top: 1.4rem;
}

/* FOOTER */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 220px;
  width: 100%;
  background-color: #353535;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
  height: 100%;
}

.div_footer h3 {
  font-size: 1.5rem;
  font-family: 'Shrikhand', cursive;
  padding-top: 0.4rem;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.div_footer .div_icon_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  width: 90%;
  padding-left: 3rem;
  margin: 0;
}

.div_footer .icon_footer {
  width: 2rem;
}

.div_footer p {
  font-size: 1rem;
  margin-left: 1rem;
}

.div_footer i {
  width: 2rem;
  font-size: 1rem;
}

.fa-handshake {
  position: absolute;
  left: 2.1rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
/*# sourceMappingURL=main.css.map */