html {
  display: block;
}

body {
  width: 100%;
  margin: 0;
}

h1, p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3.7rem;
  margin: 0;
}

main {
  height: 1000px;
}

header {
  height: 130px;
}

.logoplacement {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1rem;
}

.localisationrestaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(95%, #eaeaea), to(#acacac));
  background: linear-gradient(to top, #eaeaea 95%, #acacac);
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  height: 100%;
}

.localisation p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.local {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 5rem;
}

.fa-map-marker-alt {
  font-size: 1.8rem;
}

.reserver {
  height: 750px;
  background-color: #f6f6f6;
}

.textreservez {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5rem;
}

.textdecouvrez {
  text-align: center;
  font-size: 2.8rem;
  padding-left: 10%;
  padding-right: 10%;
}

button {
  width: 40rem;
  border-radius: 6rem;
  color: white;
  font-size: 2.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  border: transparent;
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 3rem;
  padding: 3rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 500px;
  width: 100%;
  background-color: #353535;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
  height: 100%;
}

.div_footer h3 {
  font-size: 2.9rem;
  font-family: 'Shrikhand', cursive;
  padding-top: 1rem;
  padding-left: 3rem;
  margin-bottom: 1rem;
}

.div_footer .div_icon_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  width: 90%;
  padding-left: 3rem;
  margin: 0;
}

.div_footer p {
  font-size: 2.3rem;
  margin-left: 1rem;
}

.div_footer i {
  width: 2rem;
  font-size: 1.8rem;
}

.fa-handshake {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
/*# sourceMappingURL=main.css.map */