@mixin centrageflex_hautbas {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin start-left {
    display: flex;
    justify-content: flex-start;    
}

@mixin column-start{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}